@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// Adding some normal desktop screen breakpoints, and adjusting mobile ones

$grid-breakpoints: (
        xs: 0,
        sm: 476px,
        md: 768px,
        lg: 992px,
        xl: 1366px,
        xxl: 1900px,
        xxxl: 2560px,
);

$container-max-widths: (
        sm: 440px,
        md: 720px,
        lg: 960px,
        xl: 1300px,
        xxl: 1610px,
        xxxl: 2000px
);
@import '~bootstrap/scss/bootstrap.scss';
@import './styles/tickets';
@import './styles/filterAndCurrency';

body {
  background-color: #F3F7FA;
}
